
#inp1 , #inp2 , #inp3, #inp4, #inp5, #inp6 { border-style: solid; border-width: 1px ; border-color: white; }

 #mensajes { font-size: 16px; width: auto; color: #B61A17; }

 #msgNomb, #mesgApell, #mesgSex, #mesgEmail, #mesgcont, #mesgTel {font-size: 12px; color: red;}

#btn-cerrar-sesion{
	background: #FEC901;
	width: 80%;
	height: 40px;
	border: none;
	color: white;
	font-size: 16px;
	margin-bottom: 15px;

}

.registro{
	width: 400px;
	border-radius: 4px;
	margin: auto;
	height: auto;
	padding: auto;
	margin-left:auto;
	margin-right:auto;
	margin-top: 60px;
	left:0;
	right:0;
	float: center;
	position: absolute;
	z-index: 9;
	background: rgba(255,255,255,.5);
	}


.cerrar{
	width: 400px;
	border-radius: 4px;
	margin: auto;
	height: auto;
	padding: auto;
	margin-left:auto;
	margin-right:auto;
	margin-top: 60px;
	left:0;
	right:0;
	text-align: center;
	position: absolute;
	z-index: 99999;
	background: rgba(255,255,255,.5);
}


.title{

	text-align: center;
}

.registro h2{

	font-size: 20px;
	color: #323639;
}

.registro form{

	padding: 10px;
	font-family: helvetica;
	font-size: 16px;
	width: auto;
	z-index: 9999;
	
}

.registro table{

	padding: 10px 70px;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0
}

.registro table td{

	padding: 5px;

}

.registro input{

	border-radius: 2px;
	border: 1px solid #BFBEBE;
	height: 25px;
	width: 100%;
	justify-content: 
}

.registro #boton{

	background: #FEC901;
	width: 140px;
	height: 40px;
	border: none;
	color: white;
	font-size: 16px;
	float: left;
	margin: 30px 120px;
	cursor: pointer;

}

.registro #boton:hover{

	background: #FFAB00;
}


.cuenta{

	background: #E5E9EE;
	height: 40px;
	clear: both;
	width: auto;
	margin-bottom: 30px;


}

.cuenta h5{

	padding: 10px;
	text-align: center;
	color: #323639;
	font-size: 14px;

}

.cuenta a{

	text-decoration: none;
	color: #0D7FC5;
	cursor: pointer;
	font-weight: normal;
}


hr{

	border: 0.7px solid #E2E2E2;
}