
@media screen and (max-width: 980px) {

.footer .logo{

			display: none;
	}

.footer .redes{

	margin-top: 10px;
	}
	.footer .inf{

	margin-top: 10px;
	}

	.link{
			text-align: center;
	}

	.Registro{

		padding-top: 100px;
	}




}





@media screen and (max-width: 768px) {
	body {
		padding-top:80px;
	}

	.header{
		display: none;
	}

	.mobileview {
 			display: block;
 			height: 150px;
			background-color: #323639;
			width: 100%;
     		top: 0;
			left: 0;
     		z-index: 100;
     		position: fixed;
 		}

 	.mobileview .logo{
				width: 180px;
				margin: 20px 20px;
			 }

	.mobileview .enlaces{

		float: right;
		margin-top: 22px;
		
	}

	.mobileview .enlaces ul{

		list-style: none;
		display: flex;
		margin: 20px;


	}
	.mobileview .enlaces ul li{

			padding: 10px;
			width: 50px;
	}

	.mobileview .enlaces ul li a {
    padding: 5px;
    color: white;
    display: block;
    text-decoration: none;

}

.mobileview li{
	background: rgba(255,255,255,0.1);
    border-radius: 4px;
    margin-right: 20px; 
}

.mobileview span {

	font-size: 20px;
	
}

.mobileview .enlaces li:hover {

	background: rgba(0,0,0,0.3);
}

	.menu_bar {
		margin-top: 150px;
		display:block;
		height: 50px;
		width:100%;
		position: fixed;
		z-index: 1000;
		top:0;
		background:#FEC901;
		margin-left: 0px;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 5px 10px;
		color: #fff;
		overflow: hidden;
		color: white;
		font-weight: normal;
		text-decoration: none;
		float: left;
	}

	.menu_bar span {
		float: right;
		font-size: 40px;
	}

 	.nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
		margin-top: 116px;
	}

	.nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	.nav ul li a {
		display: block;
	}

	.nav ul li:hover .children {
		display: none;
		background: #323639;
	}

	.nav ul li .children {
		width: 100%;
		position: relative;
	}

	.

	.nav ul li .children li a {
		margin-left:20px;
	}

	.nav ul li .caret {
		float: right;
	}


	.flexslider{
	
	margin-top: 116px;
}




.flex-direction-nav a{
	margin-top: -2%;

	}

.flex-control-nav li a{

	opacity: 0;
}

.footer .logo{

			display: none;
	}

.footer .redes{

	margin-top: 30px;
}

.footer .redes span{

	font-size: 25px;
}

.footer .redes ul li{
	margin: 7px;
}
.footer .redes ul li a{
	
	text-decoration: none;
}

.footer .redes span:hover{

	text-orientation: none;

}

.footer .inf{

	margin-top: 30px;
}

.footer .inf span{

	font-size: 20px;
}

.footer .inf ul li{
	padding: 5px;
}

.footer .inf span{

	margin: 10px;
}
	.Registro{

		padding-top: 100px;
	}

}




/*PARA 425PX O MENOS*/

@media screen and (max-width: 425px) {


.mobileview .logo{
				width: 150px;
				margin: 20px 0px;
			 }

.mobileview .enlaces{

		margin-top: 20px;		
	}

	.mobileview .enlaces ul{

		margin: 10px;
	}
	.mobileview .enlaces ul li{

			padding: 10px;
	}

	.footer{
		height: 340px;
	}
	.footer .logo{

			display: none;
	}

	
	.footer .redes{
	display: block;
	margin-top: 30px;
	width: 50%;
	}


	.footer .link{

		width: 50%;
		font-size: 18px;
		text-align: left;
		padding: 10px;
	}

	.footer .inf{

	margin-top: 0px;
	width: 50%;
	padding: 5px;
	}



}

}
