.registro{
	width: 320px;
	box-shadow: 0px 5px 5px #E4E4E4;
	border: 1px solid #dbdcda;
	border-radius: 4px;
	margin: auto;
	height: auto;
	padding: auto;
	margin-bottom: 50px;
	margin-top: 100px;
	justify-content: center;
}


.registro h2{

	font-size: 20px;
	color: #323639;
}

.registro form{

	padding: 10px;
	font-family: helvetica;
	font-size: 16px;
	width: auto;
}

.registro table td{

	padding: 5px;

}

.registro input{

	border-radius: 2px;
	border: 1px solid #BFBEBE;
	height: 25px;
	width: 100%;
}

.registro #boton{

	background: #FEC901;
	width: 140px;
	height: 40px;
	border: none;
	color: white;
	font-size: 16px;
	float: left;
	margin: 30px 105px;
	cursor: pointer;
}


.registro #boton:hover{

	background: #FFAB00;
}

.cuenta{

	background: #E5E9EE;
	height: 40px;
	clear: both;
	width: auto;
	margin-bottom: 30px;


}

.cuenta h5{

	padding: 10px;
	text-align: center;
	color: #323639;
	font-size: 14px;

}

.cuenta a{

	text-decoration: none;
	color: #0D7FC5;
	cursor: pointer;
	font-weight: normal;
}