.registro{
	width: 80%;
	box-shadow: 0px 5px 5px #E4E4E4;
	border: 1px solid #dbdcda;
	border-radius: 4px;
	margin: auto;
	height: 500px;
	padding: auto;
	margin-bottom: 50px;
}


.registro h2{

	font-size: 20px;
	color: #323639;
}

.registro form{

	padding: 10px;
	font-family: helvetica;
	font-size: 16px;
}

.registro table td{

	padding: 5px;

}

.registro input{

	border-radius: 2px;
	border: 1px solid #BFBEBE;
	height: 25px;
	width: 100%;
}

.registro #boton{

	background: #FEC901;
	width: 140px;
	height: 40px;
	border: none;
	color: white;
	font-size: 16px;
	float: left;
	margin: 30px 105px;
	cursor: pointer;
}


.registro #boton:hover{

	background: #FFAB00;
}
