footer{
	width: 100%;
	height: 180px;
	background-color: #323639; 
	clear: both;
	position: relative;
	float: left;
}





footer #logo{
display: none;
}


footer #redes{

	float: left;
	left: 0;
	top: 0;
	width: auto;
	margin: 20px 10px;
	text-align: center;
}



footer  #info{

	float: right;
	margin: 20px 10px;
	text-align: justify;
	margin-bottom: 20px;
}





.icon{
	width: 18px;
}



.Copyr p{

	font-size: 9px;
	color: #7A7A7A;
	padding-top: 10px;
	text-align: center;
	display: block;
}
.Copyr{

	border-top: 1px solid #7A7A7A;
	height: 12px;
	float: left;
	width: 100%;
	margin-top: 0px;


}

footer li{
    margin-right: 30px;
}

footer ul{

	list-style-type:none;
}

footer #redes ul{

	display: flex;
	list-style-type:none;
    margin: 10px;

}

footer #info ul{

    display: block;
}