*{
    margin: 0;
    padding:0;

}

nav{

    background: #FEC901;
    width: auto;
}

nav ul {

     list-style-type: none;
     justify-content: center;
     margin:0;
     padding: 0:; 
     display: flex;
     text-align: center;
}

.menu > li {

    position: relative;
    padding: 10px;
    margin: 0px;
    margin-right: 25px; 
    display:inline-block; 
    


}

.menu li a {

    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    font-size: 18px; 
    font-family: helvetica;
    font-weight: normal;
    display: block;
    
    
}

.menu li:hover {

    background-color: #FFAB00;
    transition: all .3s;
}

.menu li a:active {

    background-color: #FFAB00;

}

.submenu {
    
    position: absolute;
    background: rgba(254,201,1,0.5);
    top: 61px;
    visibility: hidden;
    opacity: 0;
    transition: 0.6s;
    display: block;
    transition: opacity 1.5s;
    text-align: center;
    
    

}

.sm1{

    width: 144px;
    transform: translateX(-7%);
}
.sm2{

    width: 179px;
    transform: translateX(-5.7%);
}

.sm3{

    width: 153px;
    transform: translateX(-6.7%);
}

.sm4{

    width: 129px;
    transform: translateX(-7.8%);
}

.sm5{

    width: 187px;
    transform: translateX(-5.2%);
}



.submenu > ul{

        margin-top: 5px;

}

.submenu li a{

    display: block;
    padding: 15px;
    color: white;
    font-family: Arial;
    text-decoration: none;
}

.menu li:hover .submenu{

                    visibility: visible;
                    opacity: 1;


}


