nav ul{

	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
}

nav li:hover{

	background: rgba(0, 0, 0, 0.3);
}


nav li a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;

}

nav li{

	border-right: 1px solid white;
}