



/*PARA 980PX o MENOS*/


@media screen and (max-width:980px){

.contenedor{

	width: auto;

}




.col-1, nav, .col-20{

	width:auto;
	float: none; 
}

.menu li a {

    padding: 10px 10px;
  	font-size: 18px; 
  }

/*SLIDER*/

.slider {

	width: 100%;
	margin-left: 0;

} /**/
/*

@keyframes cambio {


		0% {margin-left: 0;}
		20% {margin-left: 0;}


		25%{ margin-left: -130% }
		45%{ margin-left: -130% }

		50%{ margin-left: -250% }
		70%{ margin-left: -250% }

		75%{ margin-left: -380% }
		100%{ margin-left: -380%}


}


/*ORDEN Y CONTADOR*/


.col-2{
	width: auto;
	
}

.contador{

	margin-left: 300px;
}


/*SECTION*/







.col-3{

	width: 100%;
	margin-top: 30px;
	margin-left: 65px;
	float: left;
}

.col-4{

	width: 100%;
	margin-top: 20px;
	float: left;
	margin-left: 100px;
}

.col-5{

	width: 100%;
	margin-top: 20px;
	float: left;
	margin-left: 65px;
}

.col-6{

	width: 100%;
	margin-top: 20px;
	float: left;
	margin-left: 100px;
}

.col-7{

	width: 100%;
	margin-top: 20px;
	float: left;
	margin-left: 65px;
}

.col-8{

	width: 100%;
	margin-top: 20px;
	float: left;
	margin-left: 30px;
	margin-bottom: 30px;
}



/*FOOTER*/

footer #redes{

	margin-left: 160px;
}

footer  #info{

	margin-left: 120px;
}



}