@media screen and (max-width: 480px){



	.contenedor{

	width:auto;
}

header{

	display: none;
		}




/*NAVEGATION Y NAV*/

		

		.navegation label{
			display: block;
			height: 40px;
			width: 40px;
		}

		.navegation label img{
			width: 20px;

		}

		.menu-nav{ 
				position: absolute;
				width: 50%;
				margin-left: -70%;
				transition: all 0.5s;
				z-index: 99;
				 }
		.menu-nav ul{

			flex-direction: column;

		}

		.menu-nav li{

			border-top: 1px solid white;
			padding: 5px;

		}


		 #btn-menu:checked ~ .menu-nav{	

						margin-left: 0;
		}


		.submenu{

				position: absolute;
				width: 100%;
				margin-left: 100%;
				transition: all 0.5s;
				background: rgba(254,201,1);
				margin-top: -62px;	
				z-index: 99;
				}

		

		.submenu li{
			padding: 0px;
		}

		.menu-nav li:active{

			    background-color: #FFAB00;

			}

		.submenu li:active{

			    background-color: #FFAB00;

			}

		

		.mobileview{

			display: block;
			height: 100px;
			background-color: #323639;
			width: auto;
		}

		.mobileview ul {

			    
			     margin-left: 60px;
			     margin-top: 10px;
			}

		#lupa2{

			display: block;
    		margin-left: 210px;
}


		/*SLIDER*/

		.slider {

	display: none;
}


/*SECTION*/



.col-2{
	

	float: left;
	width: auto;
}

.contador{

	margin-left: 10px;
	float: left;
	width: 200px;
	margin-top: 10px;

}
	
.orden{

	float: left;
	margin-left: 0px;
	width: 200px;
}



.col-3{

	width: 82%;
	margin-top: 20px;
	float: left;
	margin-left: 15px;
}

.col-4{

	width: 100%;
	margin-top: 20px;
	float: left;
	margin-left: 0px;
}

.col-5{

	width: 100%;
	margin-top: 20px;
	float: left;
}

.col-6{

	width: 100%;
	margin-top: 20px;
	float: left;
}

.col-7{

	width: 100%;
	margin-top: 20px;
	float: left;
	margin-left: 20px;
}

.col-8{

	width: 100%;
	margin-top: 20px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}


.col-9{

	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	margin-left: 0px;

}

.col-10{

	width: 45%;
	margin-top: 0px;
	float: left;
	margin-right: 40px;
	margin-bottom: 20px;

}

.col-11{

	width: 100%;
	margin-top: 0px;
	margin-bottom: 20px;
	float: left;
	margin-left: 20px;

}

.col-12{

	width: 100%;
	margin-top: 0px;
	float: left;
	margin-right: 40px;
	margin-bottom: 20px;

}

.col-13{

	width: 100%;
	margin-top: 0px;
	margin-bottom: 20px;
	float: left;

}

.col-14{

	width: 100%;
	margin-top: 0px;
	float: left;
	margin-bottom: 20px;

}




/*FOOTER*/
footer{

}

footer #logo{
display: none;
}

footer #redes{

	margin-left: 30px;
	margin-top: 30px;
	float: left;
}

footer  #info{

	margin-left: 60px;
	margin-top: 30px;
	float: left;
}

.Copyr p{

	font-size: 8px;
	color: rgba(255,255,255,0.5);
	margin-left: 100px;
	width: 280px;
	padding-top: 10px;
}
.Copyr{

	display: block;
	margin-left: 20px;
	height: 12px;
	float: left;
	width: 380px;
	margin-top: 10px;

}


}

