*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mobileview{

	display: none;
}



.mobileview .logo{

	width: 130px;
	margin: 10px;
	float: left;
}

#lupa2{

	width: 30px;
	margin: 5px;
	padding: 5px;
	float: left;
	display: none;
	background: rgba(255,255,255,0.1);
    border-radius: 4px;
    margin-left: 540px;
}

#btn-lupa{

	display: none;
	padding: 10px;
	float: left;
}









.navegation{

background: #FEC901;


}

#btn-menu{

	display: none;
	padding: 10px;
}

.navegation label img{
	float: left;
	width: 20px;
}

.navegation label{


	display: none;
	width: 20px;
	height: 20px;
	padding: 10px;
	border-right: 1px solid white;
	background: #FEC901;
	
}

.navegation label:hover{

	cursor: pointer;
	background: #FFAB00;
	padding: 10px;

}





.mobileview ul {

     list-style-type: none;
     display: flex;
     text-align: center;
     float: left;
     margin-left: 400px;
     margin-top: 10px;
}
.mobileview li {

    position: relative;
	display:inline-block; 
    font-family: Helvetica;
    padding: 5px;


}

.mobileview li a {
    padding: 10px;
    color: white;
    font-size: 14px; 
    display: block;
    background: rgba(255,255,255,0.1);
    border-radius: 4px;


}








