*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mobileview{

	display: none;
}



.mobileview .logo{

	width: 130px;
	margin: 10px;
	float: left;
}

#lupa2{

	width: 30px;
	margin: 5px;
	padding: 5px;
	float: left;
	display: none;
	background: rgba(255,255,255,0.1);
    border-radius: 4px;
    margin-left: 500px;
}

#btn-lupa{

	display: none;
	padding: 10px;
	float: left;
}









.navegation{

background: #FEC901;


}

#btn-menu{

	display: none;
	padding: 10px;
}

.navegation label img{
	float: left;
	width: 20px;
}

.navegation label{


	display: none;
	width: 20px;
	height: 20px;
	padding: 10px;
	border-right: 1px solid white;
	background: #FEC901;
	
}

.navegation label:hover{

	cursor: pointer;
	background: #FFAB00;
	padding: 10px;

}





.mobileview ul {

     list-style-type: none;
     display: flex;
     text-align: center;
     float: left;
     margin-left: 350px;
     margin-top: 10px;
}
.mobileview li {

    position: relative;
	display:inline-block; 
    font-family: Helvetica;
    padding: 5px;


}

.mobileview li a {
    padding: 10px;
    color: white;
    font-size: 14px; 
    display: block;
    background: rgba(255,255,255,0.1);
    border-radius: 4px;


}





@media (max-width: 700px){

			header{

			display: none;
		}





		.navegation label{
			display: block;
			height: 40px;
			width: 40px;
		}

		.menu-nav{ 
				position: absolute;
				width: 45%;
				margin-left: -70%;
				transition: all 0.5s;
				 }
		.menu-nav ul{

			flex-direction: column;

		}

		.menu-nav li{

			border-top: 1px solid white;
			padding: 10px;

		}


		 #btn-menu:checked ~ .menu-nav{	

						margin-left: 0;
		}


		.submenu{

				position: absolute;
				width: 80%;
				margin-left: 100%;
				transition: all 0.5s;
				background: rgba(254,201,1,0.9);
				margin-top: -62px;	
				}

		.submenu li{
			padding: 5px;
		}

		.menu-nav li:active{

			    background-color: #FFAB00;

			}

		.submenu li:active{

			    background-color: #FFAB00;

			}

		

		.mobileview{

			display: block;
			height: 100px;
			background-color: #323639;
			width: 100%;
		}


		#lupa2{

			display: block;
		}


		

}


