body{
	margin: 0;
	padding: 0;
}


nav{
	background: teal;
}

#btn-menu{

	display: none;
	padding: 10px;
}

.navegation label img{

	width: 20px;
}

.navegation label{

	display: none;
	width: 20px;
	height: 20px;
	padding: 10px;
	border-right: 1px solid white;
	background: teal;
	
}

.navegation label:hover{

	cursor: pointer;
	background: #FFAB00;
	padding: 10px;

}


@media (max-width: 768px){

		.navegation label{
			display: block;
		}

		nav{ 
				position: absolute;
				background: teal
				width 30%;
				margin-left: -70%;
				transition: all 0.5s;
				 }
		nav ul{

			flex-direction: column;
		}

		nav li{

			border-top: 1px solid white;
		}


		 #btn-menu:checked ~ nav{	

						margin-left: 0;
		}
}