/*ESTILOS FOOTER*/

footer h4{

	font-size: 14px;
	font-family: arial;
	color: #ffffff;
	margin-left: 25px;
}
footer p{

		font-family: helvetica;
		font-size: 14px;
}

footer { 

	height: 160px;
	background-color: #323639; 
	clear: both;
	width: auto;
}

footer li{
    margin-right: 30px;
}

footer #redes ul{

	display: flex;
	list-style-type:none;
    margin: 10px;
}

footer #info ul{

    display: block;
}



#logo{

	float: left;
	margin-top: 15px;
	margin-left: 20px;
}

.logofooter { 

	width: 180px;
	margin-top: 15px;
}

#info {

	float: left;
	margin-top: 45px;
	width: 170px;
	height: 90px;
	margin-left: 350px;
	color: #ffffff; 
	padding: 5px;
	}


.icon{
	width: 18px;
}

#redes{
	justify-content: flex-start;
	margin-left: 380px;
	width: 150px;
	margin-top: 70px;
	float: left;
	height: 50px;

}

#min{

	font-size: 10px;
	font-family: helvetica;
	color: #515456; 	
}
