

section p{

font-size: 18px;
font-family: helvetica;

}


.contador{

	width: 200px;
	float: left;
	height: 100px;
	margin-left: 845px;
	margin-bottom: 20px;
}

.orden{

	width: 200px;
	float: left;
	margin-left: 50px;
}


.Boxcont{

	background: #FFAB00;
	width: 200px;
	height: 60px;
	border-radius: 4px;
}
.fila1{

	width: auto;
	height: 600px;
	margin-top: 50px;
}

.fila1 #art{

	width: 300px;
	height: 500px;
	background: #fff;
	float: left;
	margin-left: 50px;
	box-shadow: 0px 5px 5px #E4E4E4;
}

.fila1 #art-1{

	width: 300px;
	height: 500px;
	background: #fff;
	float: left;
	margin-left: 15px;
	box-shadow: 0px 5px 5px #E4E4E4;
}




.imgBox{

	position: relative;
	overflow: hidden;
	height: 250px;
	z-index: 99;
	border-radius: 6px 6px 0px 0px;
}






/*FILA 2*/
.fila2{

	width: auto;
	height: 600px;
	margin-top: 100px;
}

.fila2 #art{

	width: 300px;
	height: 500px;
	background: #fff;
	float: left;
	margin-left: 50px;
	box-shadow: 0px 5px 5px #E4E4E4;
}

.fila2 #art-1{

	width: 300px;
	height: 500px;
	background: #fff;
	float: left;
	margin-left: 15px;
	box-shadow: 0px 5px 5px #E4E4E4;
}


/*FILA 3*/
.fila3{

	width: auto;
	height: 600px;
	margin-top: 0px;
}

.fila3 #art{

	width: 300px;
	height: 500px;
	background: #fff;
	float: left;
	margin-left: 50px;
	box-shadow: 0px 5px 5px #E4E4E4;
}

.fila3 #art-1{

	width: 300px;
	height: 500px;
	background: #fff;
	float: left;
	margin-left: 15px;
	box-shadow: 0px 5px 5px #E4E4E4;
}






/*modificaciones*/

section ul p {
	text-align: center;
	color: #323639;
	font-family: helvetica;
	font-size: 110%; 
	text-indent: 10px;
}

section ul .poferta {
	color: #FFAB00;
	font-size: 120%;
	font-weight: bold;
}

section li {list-style:none;
	margin-top: 5px;
}

.Box { margin-top: 20px;
} 